<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">Flask App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="{% if request.endpoint == 'index' %}nav-item active{% endif %}">
        <a class="nav-link" href="{{url_for('index')}}">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="{% if request.endpoint == 'register' %}nav-item active{% endif %}">
        <a class="nav-link shadow shadow-sm p-2 bg-white rounded" href="{{url_for('register')}}">Register</a>
      </li>
    </ul>
  </div>
  </div>
</nav>